.header-title {
    margin: 0px;
}

.screen-shots {
    background-color: #F0F1F2;
    height: 320px;
}

/* ヘッダーのロゴ画像 */
.header-logo {
    width: 600px;
}

.border-1px {
     border: 1px solid;
}

.width-475 {
    width: 475;
}

.width-265 {
    width: 265;
}

h2 {
    margin-left: 2px;
    border-left: 5px solid green;
    color: #030;
}
